.navbar{
    display: flex;
    padding: 2% 6%;
    /* margin: 2% 6%; */
    justify-content: space-between;
    align-items: center;
}

.img-logo{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right; /* ul centrira desno*/
    
}
/* ul{
    display: flex;
} */

.nav-list-item{
    list-style: none;
    display: inline-block; 
    padding: 8px 25px;
    position: relative; 
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-link::after{
    content: "";
    height: 2px;
    width: 0%;
    background: #f44336;
    display: block;
    margin: auto;  /* sa margin auto se stavi da tranzicija ide od sredine pa prema krajevima, bez ovoga bi islo od pocetka (levo) do kraja (desno) */
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}


.fa{
    /* display: none; */
}

@media(max-width: 700px){
    .nav-list-item{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh; /* da zauzme view height, da je 100% bilo bi 100% od parent elementa*/
        width: 200px;
        top: 0;
        right: -200px; /* da se ne vidi, toliki mu je i width, pa ga skloni */
        text-align: left; /* moze i ovako, pozicionira content iz nav-list-itema u levo, a moze i na nav-list-item da se stavi, uradice isto*/
        z-index: 2; 
        transition: 1s;
    }
    .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-ul{
        padding: 30px;
    }
    
    
}